<%- include("partials/root-layout", { title: "UpSpark | Courses", content: `
${include('./partials/breadcrumbs.ejs', { breadcrumbs: [{ name: "Home", href:
"/" }, { name: "Courses", href: null }] })}
<main>
  ${include('./partials/courses-section', { title: 'Courses', description:
  'Explore our courses and start learning today!', courses })}
</main>
` }) %>
