<%- include('partials/root-layout', { title: "UpSpark | FAQs", content:
`${include('./partials/breadcrumbs.ejs', { breadcrumbs: [{ name: "Home", href:
"/" }, { name: "FAQs", href: null }] })}
<main>
  ${include('partials/section', { title: `Frequently Asked Questions`,
  description: `Here are some common questions and answers about our platform.`,
  content: include('partials/faqs-cards', { faqs }), })}
</main>
` }) %>
