@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --color-white: #ffffff;
  --color-light-gray: #f3f4f6;
  --color-medium-gray: #6b7280;
  --color-dark-gray: #374151;
  --color-dark: #111827;
  --color-success: #10b981;
  --color-error: #ef4444;
  --color-warning: #fbbf24;
  --color-info: #3b82f6;
  --color-accent-1: #fcc737;
  --color-accent-2: #f26b0f;
  --color-accent-3: #e73879;
  --color-accent-4: #7e1891;

  --ff-inter: "Inter", sans-serif;
  --ff-poppins: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--ff-inter);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-poppins);
}

h1 {
  font-size: 6rem;
  font-weight: bold;
}

.container {
  width: 100%;
  max-width: 1196px;
  margin: 0 auto;

  padding: 0.5rem;
}
