<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styles/reset.css" />
    <link rel="stylesheet" href="/styles/global.css" />
  </head>
  <body>
    <%- include('./partials/header') %>
    <!--  -->
    <%- include('./partials/breadcrumbs.ejs', { breadcrumbs: [{ name: "Home",
    href: "/" }, { name: "Courses", href: null }] }) %>
    <!--  -->
    <%- include('./partials/courses-section', { title: 'Courses', description:
    'Explore our courses and start learning today!', courses }) %>
    <!--  -->
    <%- include("./partials/footer") %>
  </body>
</html>
