<%- include("./partials/root-layout", {title: `UpSpark | ${course.name}`,
content: `${include('./partials/breadcrumbs.ejs', { breadcrumbs: [ { name:
"Home", href: "/" }, { name: "Courses", href: "/courses" }, { name: course.name,
href: null } ] })}
<main>
  ${include('./partials/course-section', { course })} ${instructor ?
  include('./partials/instructors-section', { title: "Instructors", description:
  `Learn from the best in the industry`, instructors: [instructor] }) : null}
</main>
`}) %>
