<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styles/reset.css" />
    <link rel="stylesheet" href="/styles/global.css" />
  </head>

  <body>
    <%- include('./partials/header') %>
    <!--  -->
    <%- include('./partials/breadcrumbs.ejs', { breadcrumbs: [{ name: "Home",
    href: "/" }, { name: "Events", href: null }] }) %>
    <!---->
    <%- include("./partials/section", { title: `Live Sessions & Special Events
    Schedule Page`, description: `Stay tuned for more workshops and guest
    sessions throughout the term!`, content: include("./partials/events-cards",
    { events }), }) %>
    <!---->
    <%- include("./partials/footer") %>
  </body>
</html>
