<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styles/reset.css" />
    <link rel="stylesheet" href="/styles/global.css" />
    <style>
      /* * {
        outline: 1px solid rgba(255, 0, 0, 0.5);
      } */
      @keyframes bounce-in {
        0% {
          transform: scale(0%);
        }
        95% {
          transform: scale(105%);
        }
        100% {
          transform: scale(100%);
        }
      }

      .game-container {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      #gameboard {
        width: 100%;
        max-width: 600px;

        aspect-ratio: 1 / 1;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 1rem;
      }

      .field {
        display: grid;
        place-content: center;

        border: 1px solid var(--color-light-gray);
        border-radius: 1rem;

        box-shadow: 0 0.125rem 0.25rem var(--color-light-gray);
      }

      .field[data-symbol="null"]:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.02);
        transition: 0.2s;
      }

      .field > * {
        width: 4rem;
        aspect-ratio: 1 / 1;
      }

      .field[data-success="true"] {
        background: linear-gradient(
          90deg,
          var(--color-accent-1),
          var(--color-accent-3)
        );
      }
    </style>
  </head>
  <body>
    <%- include('./partials/header') %> <%-
    include('./partials/breadcrumbs.ejs', { breadcrumbs: [ { name: "Home", href:
    "/" }, { name: "Game", href: null } ] }) %>
    <main>
      <%- include("./partials/section", { title: `Tic Tac Toe`, description:
      `Play against our advanced AI!`, content: `
      <div class="game-container container">
        <div id="gameboard"></div>
      </div>
      `}) %>
    </main>
    <%- include("./partials/footer") %>
    <script type="module" src="/js/game/main.mjs"></script>
  </body>
</html>
