<%- include("./partials/root-layout", {title: "UpSpark | Instructors", content:
`${include('./partials/breadcrumbs', { breadcrumbs: [ { name: "Home", href: "/"
}, { name: "Instructors", href: "/instructors" }, ], })}
<main>${include('./partials/instructors-section', { instructors, })}</main>
`}) %>
