.hero {
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: var(--fs-base);
  font-weight: var(--fw-regular);
  color: var(--color-gray-800);
}

h1 {
  text-align: center;

  font-size: var(--fs-4xl);
  font-weight: var(--fw-semi-bold);
  color: var(--color-primary);
}

.instructor-list {
  width: 100%;
  max-width: var(--screen-2xl);
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 1rem;

  padding: 1rem;
}

.instructor-card {
  padding: 1rem;
  border-radius: 0.5rem;

  box-shadow: 0 0 0.5rem var(--shadow-light);

  background-color: var(--color-white);
}

.instructor-card-header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
}

.instructor-card img {
  border-radius: 100%;
}

.instructor-card-header-text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.instructor-card-header-name {
  font-size: var(--fs-lg);
  font-weight: var(--fw-semi-bold);
}

.instructor-card-header-title {
  font-size: var(--fs-small);
  color: var(--color-gray-800);
}

.instructor-card-header-specializations {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.instructor-card-content-bio {
  font-size: var(--fs-base);
  font-weight: var(--fw-light);
  color: var(--color-gray-800);
  margin-top: 1rem;
}
