<header>
  <style>
    .header-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  </style>
  <div class="container header-container">
    <%- include('./logo') %> <%- include('./navigation') %>
  </div>
</header>
