<header>
  <style>
    header {
      position: sticky;
      top: 0;
      left: 0;
      z-index: 999;

      background-color: var(--color-white);
      padding: 0.5rem 0;
      border-bottom: 1px solid var(--color-light-gray);
    }
    .header-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  </style>
  <div class="container header-container">
    <%- include('./logo') %> <%- include('./navigation') %>
  </div>
</header>
