<div class="hero container">
  <style>
    @keyframes move {
      0% {
        background-position: 0% 0%;
      }
      100% {
        background-position: 100% 0%;
      }
    }
    .hero {
      padding: 0;
      width: 100%;

      background: linear-gradient(
            0deg,
            hsla(220, 9%, 46%, 0.05) 1px,
            transparent 1px
          )
          center repeat,
        linear-gradient(90deg, hsla(220, 9%, 46%, 0.05) 1px, transparent 1px)
          center repeat,
        linear-gradient(
          90deg,
          hsla(44, 97%, 60%, 0.2),
          hsla(24, 90%, 50%, 0.2),
          hsla(338, 78%, 56%, 0.2)
        );
      background-size: 40px 40px, 40px 40px, 100% 100%;

      border-radius: 2rem;

      animation: move 30s linear infinite;
    }
    .hero-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      padding: 2rem 2rem 0 2rem;

      text-align: center;
    }
    .hero-description {
      max-width: 60ch;
      color: var(--color-dark-gray);
    }
    .dashboard-image {
      width: 100%;
      max-width: 600px;
      height: auto;

      margin-top: 2rem;
      border-radius: 1rem 1rem 0 0;
    }
  </style>
  <div class="hero-content">
    <h1>UpSpark</h1>
    <p class="hero-description">
      Explore a variety of courses, connect with expert instructors, and stay
      updated with live events—all in one place. Whether you're looking to
      develop new skills or simply stay curious, LearnSphere is here to support
      your learning journey.
    </p>
    <img src="/images/dashboard.jpg" alt="Dashboard" class="dashboard-image" />
  </div>
</div>
