<div class="hero container">
  <style>
    .hero {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      background: linear-gradient(
        90deg,
        var(--color-accent-1),
        var(--color-accent-3)
      );

      padding: 2rem;
      border-radius: 2rem;

      height: 420px;

      position: relative;
      overflow: hidden;
    }
    .hero-content {
      text-align: center;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      z-index: 20;
    }
    .hero-description {
      color: var(--color-dark-gray);
      max-width: 70ch;
    }
  </style>
  <div class="hero-content">
    <h1>Learning Sphere</h1>
    <p class="hero-description">
      Explore a variety of courses, connect with expert instructors, and stay
      updated with live events—all in one place. Whether you're looking to
      develop new skills or simply stay curious, LearnSphere is here to support
      your learning journey.
    </p>
  </div>
</div>
