<nav>
  <style>
    .nav-links-list {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
    }
    .nav-link {
      font-size: 0.875rem;
      text-decoration: none;
      color: var(--color-dark);

      position: relative;
    }
    .nav-link::before {
      content: "";
      position: absolute;
      bottom: -2px;

      width: 0%;
      height: 2px;

      background: linear-gradient(
        90deg,
        var(--color-accent-1),
        var(--color-accent-3)
      );
    }
    .nav-link:hover::before {
      width: 100%;
      transition: 0.2s;
    }
  </style>
  <ul class="nav-links-list">
    <li class="nav-links-list-item">
      <a href="/courses" class="nav-link">Courses</a>
    </li>
    <li class="nav-links-list-item">
      <a href="/instructors" class="nav-link">Instructors</a>
    </li>
    <li class="nav-links-list-item">
      <a href="/events" class="nav-link">Events</a>
    </li>
    <li class="nav-links-list-item">
      <a href="/faqs" class="nav-link">FAQs</a>
    </li>
  </ul>
</nav>
