<nav>
  <ul>
    <li>
      <a href="/instructors">Instructors</a>
    </li>
    <li>
      <a href="/courses">Courses</a>
    </li>
    <li>
      <a href="/events">Events</a>
    </li>
    <li>
      <a href="/faq">FAQ</a>
    </li>
  </ul>
</nav>
